*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    background-color: #dfdfdf;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 800px;
    flex-wrap: wrap;
    border-radius: 5px;
}
.header h3{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px 0px 10px 0px;
    color: #1B262C;
}
.barrita a{
    text-decoration: none;
    margin: 0 20px 0 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.cuerpo{
   background-color: white;
   width: 100%;
   height: 50vh;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   min-width: 800px;
   flex-wrap: wrap;

}
.tarjeta{
    width: 300px;
    height: 220px;
    margin: 30px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: all 0.3s;
    border: solid 1px black;
    display: flex;
    justify-content: center; 
}
.tarjeta a{
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5px;
}
.tarjeta:hover{
    height: 280px;
    width: 300px;
    box-shadow:  0px 5px 5px 5px rgba(0, 0, 0, 0.4);
    border: none;
}
.tarjeta:hover > .linke{
    display: block;
}

a:visited{
    color: blue;
}
.tarjeta .linke{
    display: none;
    margin-top: 20px;
    padding: 10px;
    margin-left: 80px;
    border: solid black 1px;
    width: 100px;
    height: 20px;
    text-align: center;
    color: white;
    background-color: #2B3467;
    font-weight: bold;
}
footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nombre{
    margin-top: 70px;
}
.tarjeta .linke:hover{
    background-color: #0f132eb0;
}
