*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.header{
    margin: 0;
    background-color: #dfdfdf;
    width: 100%;
    height: 100px;
    min-width: 800px;
}
ul{
    display: flex;
    list-style: none;
    justify-content: end;
    align-items: end;
    margin-top: -30px;
    text-decoration: none;
    margin-right: 30px;
}
ul a{
    text-decoration: none;
}
li{
    color: #26353d;
    font-size: 25px;
    margin: 0px 20px 0px 20px;
    font-weight: bolder;
}
li:hover{
    color: #4c6e80;
}
.robito{
    font-family: 'Roboto Condensed', sans-serif;
    color: #26353d;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: px;
    
}
.robito a{
    text-decoration: ;
    color: #26353d  ;
}
footer{
    background-color: black;
    position: inherit;
    bottom: 0;
    width: 100%;
    height: 70px;  
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 142px;
    min-width: 800px;
}
.nombre{
    font-size: 20px;
    margin-top: 40px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif ';
}
h2{
    text-align: center;
    margin: 5px;
    width: 70%;
}
h3{
    margin: 10px;
    text-align: center;
    width: 70%;
}
h1{
    padding: 5px;
    color: #008cff;
    border-style: solid;
    border-top: none;
    border-left: none;
}
.spam{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 100px;
    grid-row-gap: 0cap;


}
  